@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --y3llow-0: 255 251 237;
    --y3llow-50: 255 211 59;

    --gr33n-100: 0 26 1;
    --green-50: 0 133 5;

    --r3d-50: 255 32 20;

    --blue-0: 186 213 255;
    --blue-50: 25 113 255;

    --error: var(--r3d-50);
    --success: var(--gr33n-50);
    --warning: var(--y3llow-50);
    --info: var(--blue-50);

    --app-bg: var(--y3llow-0);
    --app-fg: var(--gr33n-100);

    &[data-theme=dark] {
      --app-bg: var(--gr33n-100);
      --app-fg: var(--y3llow-0);
    }
  }

  @layer utilities {
    .shadow-on-app-bg {
      @apply shadow-neutral-500/30 dark:shadow-neutral-900/50;
    }
  }
}