@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --y3llow-0: 255 251 237;
    --y3llow-50: 255 211 59;

    --gr33n-100: 0 26 1;
    --gr33n-50: 0 133 5;

    --r3d-50: 255 32 20;

    --blu3-0: 186 213 255;
    --blu3-50: 25 113 255;

    --p1nk-0: 255 179 203;
    --p1nk-50: 255 82 111;
    --p1nk-70: 255 41 73;

    --error: var(--r3d-50);
    --success: var(--gr33n-50);
    --warning: var(--y3llow-50);
    --info: var(--blu3-50);
    --danger: var(--r3d-50);
    --highlight: var(--p1nk-70);

    --app-bg: var(--y3llow-0);
    --app-bg-inverted: var(--gr33n-100);
    --app-fg: var(--gr33n-100);
    --app-fg-inverted: var(--y3llow-0);

    --keyline: 229 228 213;

    --wrapper-px: theme('padding.4');

    @media (width: theme('screens.sm')) {
      --wrapper-px: theme('padding.8');
    }

    &[data-theme='dark'] {
      --app-bg: var(--gr33n-100);
      --app-bg-inverted: var(--y3llow-0);
      --app-fg: var(--y3llow-0);
      --app-fg-inverted: var(--gr33n-100);

      --keyline: 29 48 24;
    }

    :where(button, input, textarea, a, select) {
      @apply sk-focus;
    }
  }

  @layer components {
    .rounded-tab-group {
      border: 1px solid rgb(var(--keyline) / 100%);
      border-radius: 9999px;
      display: flex;

      > :is(button, a) {
        border-radius: 9999px;
        flex-grow: 1;
        font-family: theme('fontFamily.mono');
        font-size: theme('fontSize.sm');
        letter-spacing: theme('letterSpacing.wider');
        padding: theme('spacing.2') theme('spacing.6');
        outline: 1px solid transparent;

        &:hover {
          background-color: rgb(var(--keyline) / 40%);
        }

        &:is([aria-selected='true'], .active) {
          background-color: rgb(var(--keyline) / 25%);
        }
      }
    }

    .body-link {
      text-decoration: underline;
      text-underline-offset: 0.2em;

      &:hover {
        text-decoration: none;
      }
    }

    .sk-table {
      width: 100%;

      th {
        font-family: theme('fontFamily.mono');
        font-size: theme('fontSize.xs');
        font-weight: 400;
        letter-spacing: theme('letterSpacing.wider');
        padding: theme('spacing.2') theme('spacing.6');
        text-align: start;
      }

      tbody > tr {
        border-top: 1px dashed rgb(var(--keyline) / 100%);

        &:hover {
          background-color: rgb(var(--keyline) / 25%);
        }
      }

      td {
        padding: theme('spacing.2') theme('spacing.6');
      }
    }

    .sk-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: rgb(var(--keyline) / 100%) rgb(var(--keyline) / 50%);
    }
  }

  @layer utilities {
    .shadow-on-app-bg {
      @apply shadow-neutral-500/30 dark:shadow-neutral-900/50;
    }

    .sk-focus {
      @apply outline-1 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-highlight;
    }
  }
}
